body {
    font-family: 'IM Fell DW Pica', helvetica;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 5px;
}

header {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#title {
  float: left;
  font-size: 60pt;
  margin-right: 20px;
}

#about {
  padding: 10px;
  font-size: larger;
}

a { 
    text-decoration: none;
}


.error {
    color: red;
}

#map_canvas {
    width: 100%;
    height: 600px;
}

img.worldcat {
    height: 40px;
    vertical-align: middle;
}
.map_info {
    height: 225px;
}
